doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Geoffrey Liu
    link(href='vendor/normalize-css/normalize.css', rel='stylesheet', type='text/css')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='style.min.css', rel='stylesheet', type='text/css')
  body
    #page
      section#home
        .content.middle
          header
            h1 Geoffrey Liu
            h2.sub
              | Student @ 
              abbr(title='University of Washington') UW, web developer

          #ext-links
            a#github(title='Portfolio', href='http://github.com/g-liu')
              span.fa.fa-github
            a#blog(href='blog')
              span.fa.fa-rss(title='Blog')
            a#linkedin(title='LinkedIn', href='http://linkedin.com/in/geoffliu')
              span.fa.fa-linkedin
            a#twitter(title='Twitter', href='http://twitter.com/geo_liu')
              span.fa.fa-twitter
            a#resume(title='Resume', href='https://github.com/g-liu/resume/blob/master/resume.pdf')
              span.fa.fa-file-text
        
        a#go-down(href='#about')
          span.fa.fa-angle-down.fa-2x
      
      section#about
        .content
          header
            h2 About me
          .row.narrow
            article.col.half
              header
                h3(title='Bio')
                  span.fa.fa-user
                  span.hidden-title Bio
              p
                | I&apos;m a fourth-year undergraduate student at the
                a(href='http://uw.edu') University of Washington
                | , pursuing a double major in Computer Science and Music. My hobbies include biking, crossword puzzles, and collecting posters of all sorts.
              
              p
                a(href='https://github.com/g-liu/resume/blob/master/resume.pdf?raw=true') Check out my resume
                |  to learn more.
            
            article.col.half
              header
                h3(title='Work')
                  span.fa.fa-suitcase
                  span.hidden-title Work

              p
                | Currently, I am an undergraduate TA for 
                a(href='http://courses.cs.washington.edu/courses/cse160/16wi/') CSE 160
                |  at the 
                a(href='http://uw.edu') University of Washington
                | .

              p
                | In the past, I have been an intern at 
                a(href='http://cdk.com') CDK Global
                |  (2015), a webmaster for the 
                a(href='http://asuw.org')
                  abbr(title='Associated Students of the University of Washington') ASUW
                |  (2014), and the sole programming intern at 
                a(href='http://seattlepublishing.com') Seattle Publishing
                |  (2014).

          .row.narrow
            article.col.half
              header
                h3(title='Programming')
                  span.fa.fa-terminal
                  span.hidden-title Programming
              p
                | My interests within computer science include web development, web applications, and UI/UX design. I have also been writing my own technology-centered blog, 
                a(href='/blog') The Thought Box
                | , for over six years.
            article.col.half
              header
                h3(title='Get in touch.')
                  span.fa.fa-envelope-o
                  span.hidden-title Get in touch
              p
                | Let&apos;s get in touch! Email me at 
                span.email.obfuscated moc.uil-g@niam
                | .
      
      section#projects
        .content
          header
            h2 Projects
          .row.narrow
            article.project.col.third
              a(href='http://g-liu.github.io/ptable')
                .img-holder
                  img(alt='Peroidic Table', src='assets/ptable.jpg')
                  | 
                  .link-overlay
                    span.fa.fa-external-link
                h3 ptable
              p An interactive Periodic Table explorer. Compare elements side by side.
            article.project.col.third
              a(href='http://github.com/g-liu/twelve')
                .img-holder
                  img(alt='project image', src='assets/twelve-tone-row.jpg')
                  .link-overlay
                    span.fa.fa-external-link
                h3 twelve
              p A twelve-tone row analyzer written in Java.
            article.project.col.third
              a(href='http://github.com/g-liu/reich-weather')
                .img-holder
                  img(alt='project image', src='assets/rain.jpg')
                  .link-overlay
                    span.fa.fa-external-link
                h3 Reich weather
              p
                | Steve Reich tells the weather with his 1960 hit 
                em It&apos;s Gonna Rain
                | .

          .row.narrow
            article.project.col.third
              a(href='http://bicyclepaper.com')
                .img-holder
                  img(alt='project image', src='assets/bicyclepaper.jpg')
                  .link-overlay
                    span.fa.fa-external-link
                h3 BicyclePaper.com
              p
                | Rails 3.0 to 4.0 migration. Huge update on the backend, including models, migrations, JavaScript, assets.
            article.project.col.third
              a(href='http://g-liu.github.io/life')
                .img-holder
                  img(alt='project image', src='assets/conway.jpg')
                  .link-overlay
                    span.fa.fa-external-link
                h3 Life
              p Conway&apos;s Game of Life, using JavaScript and HTML.
            article.project.col.third
              a(href='http://github.com/g-liu/colorparser')
                .img-holder
                  img(alt='project image', src='assets/color-wheel.jpg')
                  .link-overlay
                    span.fa.fa-external-link
                h3 colorparser
              p JavaScript dependency-free library to convert between color spaces.
      
      section#contact
        .content.middle
            header
              h2 Contact

            .row.narrow
              .col
                p
                  | Want to reach me directly? Email me at 
                  span.email.obfuscated moc.uil-g@niam
                  | .     
                p I usually respond within 0 - 3 business days.
                p I&apos;m also available on these networks and websites:
                ul
                  li
                    span.fa.fa-twitter
                    |  Twitter: 
                    a(href='http://twitter.com/geo_liu') @geo_liu
                  li
                    span.fa.fa-linkedin
                    |  LinkedIn: 
                    a(href='http://linkedin.com/in/geoffliu') Geoffrey Liu
                  li
                    span.fa.fa-github
                    |  GitHub: 
                    a(href='http://github.com/g-liu') g-liu

    script(src='vendor/jquery/dist/jquery.min.js', type='text/javascript')
    script(src='https://www.google.com/recaptcha/api.js')
    script(src='site.min.js', type='text/javascript')
