section#about
  .content
    header
      h2 About me
    .row.narrow
      article.col.half
        header
          h3(title='Bio')
            span.fa.fa-user
            span.hidden-title Bio
        p
          | I am a fourth-year undergraduate student at the 
          a(href='http://uw.edu') University of Washington
          | , pursuing a double major in Computer Science and Music. My hobbies include biking, crossword puzzles, and collecting posters of all sorts.
        
        p
          a(href='https://github.com/g-liu/resume/blob/master/resume.pdf?raw=true') Check out my resume
          |  to learn more.
      
      article.col.half
        header
          h3(title='Work')
            span.fa.fa-suitcase
            span.hidden-title Work

        p
          | Currently, I am an undergraduate TA for 
          a(href='http://courses.cs.washington.edu/courses/cse160/16wi/') CSE 160
          |  at the 
          a(href='http://uw.edu') University of Washington
          | .

        p
          | In the past, I have been an intern at 
          a(href='http://cdk.com') CDK Global
          |  (2015), a webmaster for the 
          a(href='http://asuw.org')
            abbr(title='Associated Students of the University of Washington') ASUW
          |  (2014), and the sole programming intern at 
          a(href='http://seattlepublishing.com') Seattle Publishing
          |  (2014).

    .row.narrow
      article.col.half
        header
          h3(title='Programming')
            span.fa.fa-terminal
            span.hidden-title Programming
        p
          | My interests within computer science include web development, web applications, and UI/UX design. I have also been writing my own technology-centered blog, 
          a(href='/blog') The Thought Box
          | , for over six years.
      article.col.half
        header
          h3(title='Get in touch.')
            span.fa.fa-envelope-o
            span.hidden-title Get in touch
        p
          | Let&apos;s get in touch! Email me at 
          span.email.obfuscated moc.uil-g@niam
          | .