section#contact
  .content.middle
      header
        h2 Contact

      .row.narrow
        .col
          p
            | Want to reach me directly? Email me at 
            span.email.obfuscated moc.uil-g@niam
            | .     
          p I usually respond within 0 - 3 business days.
          p I&apos;m also available on these networks and websites:
          ul
            li
              span.fa.fa-twitter
              |  Twitter: 
              a(href='http://twitter.com/geo_liu') @geo_liu
            li
              span.fa.fa-linkedin
              |  LinkedIn: 
              a(href='http://linkedin.com/in/geoffliu') Geoffrey Liu
            li
              span.fa.fa-github
              |  GitHub: 
              a(href='http://github.com/g-liu') g-liu