section#home
  .content.middle
    header
      h1 Geoffrey Liu
      h2.sub
        | Student @ 
        abbr(title='University of Washington') UW, web developer

    #ext-links
      a#github(title='Portfolio', href='http://github.com/g-liu')
        span.fa.fa-github
      a#blog(href='blog')
        span.fa.fa-rss(title='Blog')
      a#linkedin(title='LinkedIn', href='http://linkedin.com/in/geoffliu')
        span.fa.fa-linkedin
      a#twitter(title='Twitter', href='http://twitter.com/geo_liu')
        span.fa.fa-twitter
      a#resume(title='Resume', href='https://github.com/g-liu/resume/blob/master/resume.pdf')
        span.fa.fa-file-text
  
  a#go-down(href='#about')
    span.fa.fa-angle-down.fa-2x