section#projects
  .content
    header
      h2 Projects
    .row.narrow
      article.project.col.third
        a(href='http://g-liu.github.io/ptable')
          .img-holder
            img(alt='Peroidic Table', src='assets/ptable.jpg')
            | 
            .link-overlay
              span.fa.fa-external-link
          h3 ptable
        p An interactive Periodic Table explorer. Compare elements side by side.
      article.project.col.third
        a(href='http://github.com/g-liu/twelve')
          .img-holder
            img(alt='project image', src='assets/twelve-tone-row.jpg')
            .link-overlay
              span.fa.fa-external-link
          h3 twelve
        p A twelve-tone row analyzer written in Java.
      article.project.col.third
        a(href='http://github.com/g-liu/reich-weather')
          .img-holder
            img(alt='project image', src='assets/rain.jpg')
            .link-overlay
              span.fa.fa-external-link
          h3 Reich weather
        p
          | Steve Reich tells the weather with his 1960 hit 
          em It&apos;s Gonna Rain
          | .

    .row.narrow
      article.project.col.third
        a(href='http://bicyclepaper.com')
          .img-holder
            img(alt='project image', src='assets/bicyclepaper.jpg')
            .link-overlay
              span.fa.fa-external-link
          h3 BicyclePaper.com
        p
          | Rails 3.0 to 4.0 migration. Huge update on the backend, including models, migrations, JavaScript, assets.
      article.project.col.third
        a(href='http://g-liu.github.io/life')
          .img-holder
            img(alt='project image', src='assets/conway.jpg')
            .link-overlay
              span.fa.fa-external-link
          h3 Life
        p Conway&apos;s Game of Life, using JavaScript and HTML.
      article.project.col.third
        a(href='http://github.com/g-liu/colorparser')
          .img-holder
            img(alt='project image', src='assets/color-wheel.jpg')
            .link-overlay
              span.fa.fa-external-link
          h3 colorparser
        p JavaScript dependency-free library to convert between color spaces.